@import "tailwindcss";
@import "../fonts/Webfonts/fontiran.css";
@import "./variables.css";
@import "./utility.css";
@import "./embla.css";

/* Custom styles can be added here */
.custom-gradient {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}


/* RTL support for Persian text */
.rtl {
    direction: rtl;
    text-align: right;
}

/* Sticky navbar backdrop */
#sticky-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 35;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
    transition: height 0.3s ease;
}

#sticky-backdrop.active {
    height:165px;
}

/* Sticky mobile navbar backdrop */
#sticky-backdrop-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 35;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
    transition: height 0.3s ease;
}

#sticky-backdrop-mobile.active {
    height: 68px;
}

.sticky-mobile-navbar {
    position: fixed;
    top: -16px;
    left: 0;
    right: 0;
    z-index: 50;
    background: transparent;
}

.sticky-navbar {
    position: fixed;
    top: 26px;
    left: 0;
    right: 0;
    z-index: 50;
    background: transparent;
}

.sticky-accordion {
    position: fixed;
    top: 94px;
    left: 0;
    right: 0;
    z-index: 60;
    background: transparent;
}

.caret {
    transition: transform 0.25s ease;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(90, 90, 90, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(70, 70, 70, 0.1);
    border-radius: 10px;
}