@import "tailwindcss";
@import "../fonts/Webfonts/fontiran.css";
@import "./variables.css";
@import "./utility.css";
@import "./embla.css";
/* Custom styles can be added here */
.custom-gradient {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}


/* RTL support for Persian text */
.rtl {
    direction: rtl;
    text-align: right;
}

::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(90, 90, 90, 0.2);  
    border-radius: 10px;  
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(70, 70, 70, 0.1);  
    border-radius: 10px;
  }
  


