/**
*
*	Name:			IRANYekanX Fonts
*	Version:			2.4
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Aug 02, 2022
*	Updated on:		Aug 02, 2022
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان X  یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekanX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


/* Lahzeh font */
@font-face {
	font-family: "Lahzeh";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-ExtraLight.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-ExtraLight.woff") format("woff");
}

@font-face {
	font-family: "Lahzeh";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-Regular.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-Regular.woff") format("woff");
}

@font-face {
	font-family: "Lahzeh";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-Bold.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-Bold.woff") format("woff");
}

@font-face {
	font-family: "Lahzeh";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-ExtraBold.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-ExtraBold.woff") format("woff");
}


@font-face {
	font-family: "LahzehFaNum";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-FaNum-ExtraLight.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-FaNum-ExtraLight.woff") format("woff");
}




@font-face {
	font-family: "LahzehFaNum";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-FaNum-Regular.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-FaNum-Regular.woff") format("woff");
}


@font-face {
	font-family: "LahzehFaNum";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-FaNum-Bold.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-FaNum-Bold.woff") format("woff");
}


@font-face {
	font-family: "LahzehFaNum";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../assets/fonts/Webfonts/woff2/Lahzeh-FaNum-ExtraBold.woff2") format("woff2"),
		url("../assets/fonts/Webfonts/woff/Lahzeh-FaNum-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: "LahzehFamily";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../assets/fonts/ttf/Lahzeh-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: "LahzehFamily";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../assets/fonts/ttf/Lahzeh-Regular.ttf") format("truetype");
}




@font-face {
	font-family: "LahzehFamily";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../assets/fonts/ttf/Lahzeh-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "LahzehFamily";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../assets/fonts/ttf/Lahzeh-ExtraBold.ttf") format("truetype");
}



.ss01 {
	-moz-font-feature-settings: "ss01";
	-webkit-font-feature-settings: "ss01";
	font-feature-settings: "ss01";

	font-weight: 900;
}

.ss02 {
	-moz-font-feature-settings: "ss02";
	-webkit-font-feature-settings: "ss02";
	font-feature-settings: "ss02";

}

.ss03 {
	-moz-font-feature-settings: "ss03";
	-webkit-font-feature-settings: "ss03";
	font-feature-settings: "ss03";

}

.ss04 {
	-moz-font-feature-settings: "ss04";
	-webkit-font-feature-settings: "ss04";
	font-feature-settings: "ss04";

}

.rtl-text {
	direction: rtl
}